<!DOCTYPE html>
<html>

<head>
    <title>Banned Words</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1>Banned Words</h1>
        </header>
        <div id="ban">
            <% banwords.forEach(function(word){ %>
                <div class="entry"><p> <%= word.ban %>  :  <%= word.username %> </p></div>
            <% }) %>
        </div>
    </div>
</body>
</html>
